@model IEnumerable<University_test_system.Models.Attempt>

@{
    ViewData["Title"] = "Історія проходження тестів";
}
<div class="container text-center">
    <h2 class="knu-page-header h1">@ViewData["Title"]</h2>
</div>

<div class="min-vh-50 d-flex align-items-center justify-content-center py-5">
    <table class="knu-table thead th">
    <thead>
        <tr>
            <th>Назва тесту</th>
            <th>Предмет</th>
            <th>Дата спроби</th>
            <th>Номер спроби</th>
            <th>Бали</th>
            <th>Дії</th>
        </tr>
    </thead>
        <tbody class="knu-table tbody tr">
        @foreach (var attempt in Model)
        {
            <tr>
                <td>@attempt.Test.Title</td>
                <td>@attempt.Test.Subject?.Name</td>
                <td>@attempt.AttemptDate.ToString("dd.MM.yyyy HH:mm")</td>
                <td>@attempt.Count</td>
                <td>@attempt.Score</td>
                <td>
                    <a asp-action="Result" asp-route-id="@attempt.Id" class="btn btn-knu w-100">
                            Переглянути результат
                    </a>

                    <a asp-action="Leaderboard" asp-route-id="@attempt.Id" class="btn btn-knu w-100">
                            Переглянути список лідерів
                    </a>
                </td>                    
            </tr>
        }
        </tbody>
    </table>
</div>