@model University_test_system.Models.Attempt

@{
    ViewData["Title"] = "Результат тесту";
}

<div class="container text-center">
    <h2 class="knu-page-header h1">@ViewData["Title"]</h2>
</div>

<div class="knu-card">
    <div class="card-header">
        <h4>@Model.Test.Title</h4>
        <p><strong>Предмет:</strong> @Model.Test.Subject?.Name</p>
        <p><strong>Час на виконання:</strong> @Model.Test.Time хв.</p>
    </div>
    <div class="card-header">
        <p><strong>Користувач:</strong> @Model.User?.UserName (@Model.UserId)</p>
        <p><strong>Email:</strong> @Model.User?.Email</p>
        <p><strong>Дата спроби:</strong> @Model.AttemptDate.ToString("dd.MM.yyyy HH:mm")</p>
        <p><strong>Номер спроби:</strong> @Model.Count</p>
        <p><strong>Набрані бали:</strong> @Model.Score</p>
    </div>
</div>

<a asp-action="Index" asp-controller="Test" class="btn btn-primary mt-3">Повернутись до списку тестів</a>